// typography
$tt-font-primary: Roboto, "Helvetica Neue", sans-serif;

// screen 
$screen-size-0: 1920px;
$screen-size-1: 896px;
$screen-size-2: 320px;

$screens: (
  // 1920px
  "large-desktop": $screen-size-0,
  // 896px
  "medium-desktop": $screen-size-1,
  // 320px
  "handset-portrait": $screen-size-2,
);

$screen-x-large-desktop: map-get($screens, "large-desktop");
$screen-medium-desktop: map-get($screens, "medium-desktop");
$screen-handset-portrait: map-get($screens, "handset-portrait");
