<div class="header-container">
	<div class="navigation-container d-flex">
		<div class="logo-container d-flex-center-between">
			<img class="logo" src="static/assets/logo.png" alt="Tile.Expert Logo" width="150" height="56" />
		</div>

		<div class="tabs-container-wrapper">
			<div class="tabs-container">
				<ul class="tabs">
					<li class="tab">
						<!--<tt-icon class="tab-icon"></tt-icon>-->
						<span>Ссылки</span>
					</li>
					<li class="tab">
						<!--<tt-icon class="tab-icon"></tt-icon>-->
						<span>Контакты</span>
					</li>
					<li class="tab">
						<!--<tt-icon class="tab-icon"></tt-icon>-->
						<span>Теги</span>
					</li>
					<li class="tab">
						<!--<tt-icon class="tab-icon"></tt-icon>-->
						<span>Избранное</span>
					</li>
					<li class="tab">
						<!--<tt-icon class="tab-icon"></tt-icon>-->
						<span>Посещения</span>
					</li>
				</ul>
			</div>
			<div class="buttons-container">
				<div> search </div>
				<div> + </div>
			</div>
		</div>
	</div>

	<div class="d-flex">
		<div class="notifications">
			bell
		</div>

		<div class="user-menu">
			user
		</div>
	</div>

</div>
